*{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,#FF0101 30%, black 30%);
    overflow: hidden;
}
.header__container{
    padding-top: 37px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
}
.car{
    display: flex;
    width: 201px;
    height: 60px;
    margin-left: -90px;
}
.car__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 22px;
    padding-left: 21px;
}
.subtitle{
    display: flex;
    color: aliceblue;
}
.nav__list{
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-right: 55px;
}
.nav__item{
    margin-left: 71px;
}
#model{
    border-bottom: 3px solid #FF0101;
}
.nav__link{
    text-decoration: none;
    color: #FFFFFF;
}
.info{
    display: flex;
    width: 189px;
    height: 31px;
    border-bottom: 1px solid white;
}
.input{
    background-color: black;
    border: none;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.machine{
    margin-left: 250px;
}
.machine__title{
    font-weight: 600;
    font-size: 310px;
    color: white;
    margin-left: 165px;
}
.machine__img-wrap{
    margin-top: -391px;
    margin-left: 150px;
}
.machine__img{
    width: 1200px;
}
.footer__block{
    width: 1227px;
    height: 128px;
}
.footer__img{
    position: absolute;
    margin-left: 55px;
}
.footer__imgtwo{
    position: absolute;
    margin-left: 91px;
    margin-top: 24px;
}
.footer__subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 171px;
    padding-top: 36px;
}
.footer__text{
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FF0101;
    margin-top: -15px;
    margin-left: 690px;
}