* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Unbounded', cursive;
    color: rgb(20, 20, 41);
    position: relative;
    background: url(фон2.jpg) no-repeat;
    background-size: cover;
}

.winner {
    width: 270px;
    height: 150px;
    background-color: rgba(248, 248, 228, 0.98);
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    color: rgb(20, 20, 41);
    cursor: pointer;
    display: none;
}

.winner:hover {
    background-color: rgba(248, 229, 228, 0.98);
}

.close {
    content: url(окошко.svg);
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    z-index: 100;
    top: 10px;
    right: 10px;
    background: no-repeat center/contain;
}

table {
    border-collapse: collapse;
    font-size: 30px;
}

table td {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(20, 20, 41);
    ;
    text-align: center;
    cursor: pointer;
    background-color: #c0d7f5;
}